.RCSimg{
    height: 650px;
    width: 650px;
    display: inline; /* Ensures both image and text are inline */
    filter: drop-shadow(15px 5px 5px rgba(65, 64, 64, 0.427));
    
}
.logo1{
    height: 150px;
    width: 150px;
}
.wel{   
    display: inline-block;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}
.font{
    font-weight: bold;
    font-size: 50px;
}
.font:hover{
    color: #da2020;
}