body {
    margin: 0;
    padding: 0;
    background-image: url('C:\Users\Srivathsan.Ganesan\Documents\GitHub\rcs\RCS\src\assets\BGimg\image.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensure the background covers the entire viewport height */
  }
  .login {
    color: white;
    width: 400px; /* Adjust width as needed */
    height: 500px; /* Adjust height as needed */
    background-color: #f0f0f034;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertical centering */
    align-items: center; /* Horizontal centering */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
  }
  .font-bold {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
  }
  
  .username,
  .password {
    width: 200px; /* Make inputs full width */
    height: 30px;
    border-radius: 10px;
    border: 0px;
    background-color: rgba(255, 245, 238, 0.378);
  }
  select{
    border-radius: 5px;
    width: 200px; /* Make inputs full width */
    height: 40px;
    background-color: rgba(255, 245, 238, 0.378);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
  }
  .Submit {
    background-color: #24272a;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    width: 100px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .Submit:hover {
    background-color: #8c8f91; /* Change color on hover */
  }
  