.hoverShowSideBar {
    width: 20%;
    transition: 0.5s all ease-in-out;
}

.hoverShowSideBar .hoverShowName{
    display: flex;
}

.hoverShowSideBar .hoverShowImage{
    width: 15%;
}
.hoverShowSideBar .hoverShowGap{
    gap:10px;
    justify-content: left;
}